<!-- <div class="container-fluid"> -->
    <!-- Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <span class="navbar-brand font-weight-bold">Online Voting System</span>
        <div class="ml-auto">
          <a routerLink="/voter" class="btn btn-outline-success mx-1">Voters</a>
          <a routerLink="/candidate" class="btn btn-outline-secondary mx-1">Candidates</a>
          <a routerLink="/election" class="btn btn-outline-info mx-1">Election</a>
        </div>
      </div>
    </nav> -->
  
    <!-- Main Content -->
    <!-- <div class="d-flex align-items-center justify-content-center vh-100 flex-column">
      <h1 class="display-4 text-center">Welcome to Online Voting Application</h1>
      <p class="text-muted text-center">< Landing Page ></p>
    </div>
  </div> -->
  
